html,body,#root {
    height: 100%;
}


textarea, textarea:focus {
    resize: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

textarea:disabled {
    background-color: inherit !important;
    opacity: inherit !important;
}

textarea.form-control {
    color: black;
}

.w-90 {
    width: 90% !important;
}
